<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="UserDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Учеба\2 курс\ООП\Проєкт\Shop_Danylo1\Shop_Danylo1\Shop_Danylo1\UserDB.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>